<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style type="text/css">

    </style>

</head>

<body>

<div id="wrap">
  {{#cameras}}
  <div class="box">
      <div class="boxInner">

        <a target="_blank" href="camera?name={{name}}"><img src="snapshot?name={{name}}"></a>
        <br/>

      </div>
  </div>
        {{/cameras}}
    </div>

</body>
</html>