<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style type="text/css">

    </style>

</head>

<body>

<img target="_blank" src="camera?name={{camera.name}}">


{{#camera.ptz}}
    <div class="controls">

        <table>
            <tr>
                <td></td>
                <td><a href="{{camera.ptz.up}}" target="iframe_a">Up</a></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="{{camera.ptz.left}}" target="iframe_a">Left</a></td>
                <td></td>
                <td><a href="{{camera.ptz.right}}" target="iframe_a">Right</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{{camera.ptz.down}}" target="iframe_a">Down</a></td>
                <td></td>
            </tr>
        </table>

        <iframe src="" name="iframe_a" hidden></iframe>
    </div>
{{/camera.ptz}}

</body>
</html>