<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style type="text/css">
      .miniStill {
          height:240px;
          width:320px;
      }
      .liveCam {
          height:520px;
          width:660px;
      }
    </style>

</head>

<body>
<script type="application/javascript">
    var query = window.location.search.substring(1).split(/=|\?/);
    var indexOfUsername = query.indexOf('username');

    if(indexOfUsername > -1){
        document.cookie = 'username='+query[indexOfUsername+1]+';';
    }
</script>

{{#cameras}}
      <span>
          <a target="liveFrame" href="/single?name={{name}}"><img src="snapshot?name={{name}}" class="miniStill"></a>
          <label>{{name}}</label>
      </span>
{{/cameras}}

<iframe class="liveCam" src="" name="liveFrame"></iframe>

</body>
</html>